/Events/nbproject/private/
/Events/Events-war/nbproject/private/
/Events/Events-ejb/nbproject/private/
/Events/Events-ejb/build/
/Events/Events-ejb/dist/
/Events/Events-war/build/
/Events/build/
/Events/Events-war/dist/
/Events/dist/